<nb-layout>
  <nb-layout-column>


<!--<ngx-sample-layout>-->
  <h2 class="title">Sign In</h2>
  <small class="form-text sub-title">Hello! Sign in with your username or email</small>
  <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">
  <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert"><div>
  <strong>Oh snap!</strong>
  </div>
  <div *ngFor="let error of errors">
  {{ error }}
  </div>
  </div>
  <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" >
  <div>
  <strong>Hooray!</strong>
  </div>
  <div *ngFor="let message of messages">{{ message }}</div>
  </div>
  <div class="form-group">
  <label for="input-email" class="sr-only">Email address</label>
  <input name="email" [(ngModel)]="user.username" id="input-email" type="email" class="form-control" placeholder="Email address" #email="ngModel" [class.form-control-danger]="email.invalid && email.touched" required>
  <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">Email is required!</small><small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">Email should be the real one!</small>
  </div>
  <div class="form-group">
  <label for="input-password" class="sr-only">Password</label><input name="password" [(ngModel)]="user.password" type="password" id="input-password" class="form-control" placeholder="Password" #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" required [minlength]="5" [maxlength]="20">
  <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">Password is required!</small><small class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">Password should contains from 5 to 20 characters</small>
  </div>
  <div class="form-group accept-group col-sm-12">
  <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Remember me</nb-checkbox>
  <a class="forgot-password" routerLink="../request-password">Forgot Password?</a>
  </div>
    <a class="forgot-password" routerLink="/auth/signup">New here? Sign up now!</a>

    <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"
  [class.btn-pulse]="submitted">
  Sign In
  </button>
  </form>


  </nb-layout-column>
</nb-layout>
<!--</ngx-sample-layout>-->
