<nb-card size="large">
  <div class="consumption-table">
    <div class="table-header">
      <div>Garbage</div>
      <div class="subtitle">Collection</div>
    </div>

    <nb-tabset fullWidth>
      <nb-tab *ngFor="let year of data" [tabTitle]="year.title" [active]="year.active">
        <div class="stats-month" *ngFor="let month of year.months">
          <div>
            <span class="month">{{ month.month }}</span>
            <span class="delta" [ngClass]="{ 'down': month.down }">{{ month.delta }}</span>
          </div>
          <div class="results">
            <b>{{ month.kWatts }}</b> m3
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>

  <div class="chart-container">
    <div class="chart-header">
      <div class="header-stats">
        <div class="stats-block">
          <div class="subtitle">Collected since signup</div>
          <div>
            <span class="value">{{sum}}</span>
            <span class="unit">M3</span>
          </div>
        </div>
      </div>

      <div class="dropdown" ngbDropdown>
        <button type="button" ngbDropdownToggle class="btn"
                [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
          {{ type }}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" *ngFor="let t of types" (click)="changeType(t)">{{ t }}</li>
        </ul>
      </div>

    </div>
    <ngx-consumption-chart [records]="data" [type]="type"></ngx-consumption-chart>
  </div>
</nb-card>
