<nb-layout>
  <nb-layout-column>
    <!--<ngx-sample-layout>-->
    <h2 class="title">Sign Up</h2>
    <small class="form-text sub-title">Hello! Sign up here with your contact email address, phone number, and password</small>
    <form (ngSubmit)="signup()" #form="ngForm" autocomplete="nope">
      <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert"><div>
        <strong>Oh snap!</strong>
      </div>
        <div *ngFor="let error of errors">
          {{ error }}
        </div>
      </div>
      <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" >
        <div>
          <strong>Hooray!</strong>
        </div>
        <div *ngFor="let message of messages">{{ message }}</div>
      </div>
      <div class="form-group">
        <label for="input-company" class="sr-only">Company name</label>
        <input name="company" id="input-company" [(ngModel)]="user.companyName" class="form-control" placeholder="Company" required>
      </div>
      <div class="form-group">
        <label for="input-fname" class="sr-only">First name</label>
        <input name="fname" id="input-fname" [(ngModel)]="user.firstName" class="form-control" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <label for="input-lname" class="sr-only">Last name</label>
        <input name="lname" id="input-lname" [(ngModel)]="user.lastName" class="form-control" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <label for="input-email" class="sr-only">Email address</label>
        <input name="email" type="email" [(ngModel)]="user.email" id="input-email"  class="form-control" placeholder="Email address" #email="ngModel" [class.form-control-danger]="email.invalid && email.touched" required>
      </div>
      <div class="form-group">
        <label for="input-password" class="sr-only">Password</label><input name="password" [(ngModel)]="user.password" type="password" id="input-password" class="form-control" placeholder="Password" #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" required [minlength]="5" [maxlength]="20">
        <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">Password is required!</small><small class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">Password should contains from 5 to 20 characters</small>
      </div>
      <div class="form-group">
        <label for="input-phone" class="sr-only">Contact Number</label>
        <input name="phone" id="input-phone" [(ngModel)]="user.phone" class="form-control" placeholder="Contact Number" required>
        <!--<small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">Email is required!</small><small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">Email should be the real one!</small>-->
      </div>

      <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"
              [class.btn-pulse]="submitted">
        Sign Up
      </button>
    </form>
  </nb-layout-column>
</nb-layout>
<!--</ngx-sample-layout>-->
