@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-weekly-bar{
    display: block;
    height: 600px;
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .big {
    height: 600px;
  }
}
