<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Company Details</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Name" class="form-control"/>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Location" class="form-control"/>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Trucks</nb-card-header>
      <nb-card-body>
        <div class="input-group input-group-border-only">
          <input type="text" placeholder="How many trucks do you have?" class="form-control"/>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Truck volume (m3)" class="form-control">
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
